@font-face {
    font-family: "Ambiant-Medium";
    src: url('assets/fonts/Ambiant-Medium.otf');
    src: url('assets/fonts/Ambiant-Medium.otf') format('opentype'),
         url('assets/fonts/Ambiant-Medium.woff2') format('woff2'),
         url('assets/fonts/Ambiant-Medium.woff') format('woff'),
         url('assets/fonts/Ambiant-Medium.ttf') format('truetype');
  }
    
  
* {
    box-sizing: border-box;
}

  
body{
    font-family: "Ambiant-Medium",Arial, Helvetica, sans-serif;
    font-size: 15pt;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

/* ---- font system ----- */

h1{
    font-size: 15pt; 
    color: #F95400;
}

h2{
    font-size: 15pt; 
    color: #F95400;
}

h3{
    font-size: 15pt;
    color: black;
}

p{
    font-size: 15pt;
    color: black;
    line-height: 1.2;
}

/* liens */
a{
    text-decoration: none;
    color: #F95400;
    cursor: pointer;
}

a:hover{
  font-style: italic;
}

.nav-title:hover{
    font-style: normal;
}

/* liens sur page projet */
.project-link,.project-title{
    color: black;
}
.project-link:hover{
    color: #F95400;
    cursor: pointer;
    font-style: normal;
}


.project-title:hover{
    color: #F95400;
    cursor: pointer;
    font-style: normal;
}


.nav:nth-child(n) a{
    cursor:pointer;
}
.nav-sup>.col, .nav-bottom>.col{
    /*padding:20px;*/
}

.home-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;    
}

.column {
    width: 50vw;
}

.box {
    width: 50vw;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    /*display: flex;
    justify-content: center;
  */
}

.box>video{
 min-width: 100%;  
 height: auto;
}

.box>.img-project{
   
    min-width: 100%;  
    height: auto;
 
}



.project-content img{
    width: 50vw;
    height: 100;
}
.project-content{
    padding-left: 0;

}
.content-1{
    background-color:yellow;

}




.p-title{
    position:relative;
}
.p-date{
}
.p-type{
    position: relative;
}


/*---sections */

.section{
    position: absolute;
    width: 50vw;
    height: 100vh;
    font-size: 16pt;
   /* padding: 20px;*/
    padding-top: 50px;
}

.left-section{
    left: 0;
    top: 100vh;
    background-color: white;
}

.left-section>div{
    padding-top: 40px; 

}
.right-section{
    left: 50vw;
    top:-100vh;
    background-color: aliceblue;
}


.project-image{
    overflow-x:hidden;
overflow-y: auto;  
}

.projectSectionTexte{
    top: 100VH; 
    left: 0;
    background-color: rgb(255, 255, 255);
}

.project-text{
    top: 0; 
    visibility: hidden;
}

.projectSectionImage{
    padding: 0;
    top: -100vh;
    left: 50vw;

}
.img-project{
    height: 100%;
    opacity: 0;
}




.i-section{  
    top: -100vh;
    left: 50vw;
    background-color: rgb(255, 255, 255);
}


/*project page*/

/* #project{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background-color: chocolate;
} */
header{
    z-index: 4;
}
#home, #projects, {
    z-index:0;
}

.project-text{
    z-index: 2;
}

.content{
opacity: 1;}
.p-section-texte{
    z-index: 1;
}

.nav-bottom,nav-infos{
    z-index: 4;
}
.nav-title{
    z-index: 999999;
}
.project-image{
    padding: 0;
    z-index: 9999999;
}


.close-btn{
    position: absolute;
    right: 0;
    padding: 15px;
    top: 0;
    z-index: 99999;
}